.loader {
  max-width: 48px;
  max-height: 48px;
  min-width: 25px;
  min-height: 25px;
  border: 3px solid #8cafe9;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
