.list-item {
  display: flex;
  overflow: hidden;
  position: relative;

  .list-header {
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;

    .list-name {
      flex: 1;
      font-size: 1.5rem;
      font-weight: 700;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .menu-button {
      width: 30px;
      height: 30px;
      padding: 4px;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
