.product-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  background-color: #f9f9f9;
  transition: background-color 0.3s;

  .completion-checkbox {
    width: 30px;
    height: 30px;
  }

  &:hover {
    background-color: #e0e0e0;
  }
}

.product-name {
  font-weight: bold;
}

.product-quantity {
  color: #888;
}
