.product-item-wrapper {
  display: flex;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ccc;
  cursor: pointer;

  .selection-checkbox {
    width: 30px;
    height: 30px;
    margin: auto;
  }

  .product-item {
    flex: 1;
    padding: 5px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s;

    .product-name {
      margin-left: 5px;
      flex: 1;
      font-weight: bold;
    }

    .product-quantity {
      color: #888;
    }

    .product-unit {
      margin-left: 5px;
      color: #888;
      width: 30px;
    }

    .product-category {
      margin-left: 5px;
      max-height: 30px;
      width: 20px;
      display: flex;
      align-self: center;
    }

    .product-completion-checkbox {
      margin: 0;
    }

    &:hover {
      background-color: #e0e0e0;
    }

    &.selecting {
      pointer-events: none;
      user-select: none;
      position: relative;

      .selection-checkbox {
        position: absolute;
        display: block;
      }
    }
  }
}
