.input-container {
  position: relative;
  margin: 10px 0;
}

.styled-input {
  padding: 15px 32px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #333333;
  transition:
    border-color 0.3s,
    box-shadow 0.3s;
}

.styled-input:focus {
  border-color: #333333;
  box-shadow: 0 0 5px rgba(69, 160, 73, 0.5);
}

.styled-input-label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: all 0.3s;
}

.styled-input:focus + .styled-input-label,
.styled-input:not(:placeholder-shown) + .styled-input-label {
  top: 0;
  left: 13px;
  background-color: white;
  padding: 2px;
}

.show-password-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 0;
}
