.styled-button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  align-items: center;

  .button-loader {
    margin-left: 5px;
  }

  &.big {
    padding: 20px 40px;
    font-size: 20px;
  }

  &.normal {
    padding: 15px 32px;
    font-size: 16px;
  }

  &.small {
    padding: 10px 20px;
    font-size: 12px;
  }

  &.icon {
    display: flex;
    align-items: center;
    padding: 0;
    font-size: 16px;
    justify-content: center;
  }

  &.primary {
    background-color: #4caf50;

    &:hover {
      background-color: #45a049;
    }
  }

  &.secondary {
    background-color: white;
    color: #4caf50;
    border: 1px solid #4caf50;

    &:hover {
      background-color: #f1f1f1;
    }
  }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}

.styled-button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
