.product-details-modal {
  .close-button {
    width: 40px;
    height: 40px;
    margin: 0;
    margin-right: 5px;
  }

  .category-select {
    .category-option {
      display: flex;
      flex-direction: row;

      .category-title {
        flex: 1;
        margin-left: 10px;
      }
    }
    .category-icon {
      width: 20px;
      height: 20px;

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }

  .row {
    display: flex;
    align-items: center;
  }

  label {
    margin-bottom: 10px;

    input {
      margin-left: 10px;
    }
  }

  button {
    margin-top: 10px;
  }
}
