.notifications-panel-component {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 350px;
  width: 100%;
  max-height: 96vh;
  overflow-y: auto;
  position: absolute;
  right: 3px;
  top: 10px;
  z-index: 1000;
  color: #474747;

  .notifications-panel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
    background-color: #f9f9f9;
  }

  .notifications-panel-title {
    font-size: 16px;
    margin: 0;
  }

  .close-button {
    background: none;
    border: none;
    font-size: 14px;
    cursor: pointer;
    color: #007bff;
  }

  .notifications-list {
    list-style: none;
    margin: 0;
    padding: 10px;
  }

  .notification-item {
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-bottom: 1px solid #eee;

    .notification-item-content {
      flex: 1;
    }

    .notification-item-actions {
      display: flex;
      flex-direction: column;
    }
  }

  .notification-item:last-child {
    border-bottom: none;
  }

  .notification-item p {
    margin: 0 0 5px;
    font-size: 14px;
  }

  .notification-item-date {
    font-size: 12px;
    color: #888;
  }

  .notification-message {
    display: block;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    color: #666;
  }

  .notification-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;

    .notification-buttons {
      display: flex;
      justify-content: flex-end;
      gap: 10px;
    }
  }

  .notification-info-strong {
    font-weight: bold;
  }
}
