.lists-view-component {
  display: flex;
  flex-direction: column;
  height: 100%;

  .lists-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: auto;
    min-width: 300px;
    max-width: 600px;
    width: 100%;
  }

  .lists-footer {
    .add-list-button {
      float: right;
      width: 50px;
      height: 50px;
      border-radius: 30%;
      margin: 10px;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
