.lists-view-component {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;

  .lists-container {
    padding-top: 10px;
    overflow: auto;
    row-gap: 10px;
    display: flex;
    flex-direction: column;
    flex: 1;

    .spacing {
      min-height: 70px;
    }
  }

  .add-list-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    float: right;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 10px;

    svg {
      width: 100%;
      height: 100%;
    }
  }
}

.select-many-button {
  display: flex;
  align-items: center;
}
