.select-container {
  position: relative;
  margin: 10px 0;
}

.styled-select {
  cursor: pointer;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #333333;
  padding: 10px;
  transition:
    border-color 0.3s,
    box-shadow 0.3s;
}

.styled-select:focus {
  border-color: #333333;
  box-shadow: 0 0 5px rgba(69, 160, 73, 0.5);
}

.styled-select-label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: all 0.3s;
}

.styled-select:focus + .styled-select-label,
.styled-select:not(:placeholder-shown) + .styled-select-label {
  top: 0;
  left: 13px;
  background-color: white;
  padding: 2px;
}

.options-container {
  position: absolute;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  z-index: 1;
  overflow-y: auto; /* Enable vertical scrolling */
}

.option {
  padding: 10px;
  cursor: pointer;
}

.option:hover {
  background-color: #f0f0f0;
}
