html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #474747;

  // Custom scrollbar styling
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }
}

dialog {
  border: none;
  padding: 0;
  background: none;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

.shopping-list-app {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: auto;
  min-width: 300px;
  max-width: 600px;
}
