html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

dialog {
  border: none;
  padding: 0;
  background: none;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

.shopping-list-app {
  display: flex;
  flex-direction: column;
  height: 100%;
}
